.footer__link {
  text-decoration: none;
  color: white;
  margin-right: 18px;
  transition: opacity .3s linear;
  opacity: 1;
}

.footer__link:hover{
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0 0 32px 0;
  }
}
